!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}
    %title We'll be back soon

    %link{:media => 'screen', :rel => 'stylesheet', :type => 'text/css', :href => 'ui.css'}

  %body
    .notice
      .logo

      .text
        %p 各位朋友：
        %p 
          %span 为了在将来提供更适合的服务，我们决定：暂时关闭网站。

        %p
          %span 目前的在线思维导图工具不会停止服务，你仍然可以通过
          %br
          %a{:href => 'http://tu.mindpin.com', :target => '_blank'}
            http://tu.mindpin.com 
          %br
          %span 使用这一工具。　

        %p
          %span 我们需要一些时间来调整网站包含的内容和功能。定位偏差的部分将会修正，不必要的部分将被简化，这个过程会耗费一些时间，我们希望不会太久。

        %p
          %span 这次调整完毕后，为了配合所有的变化，我们将启用新的域名提供服务，旧域名和新域名届时会同时使用。

        %p 
          %span by MINDPIN Team, 2014.9.21
          %br
          %span see you soon ...